footer{
    background-image: url('../assets/bg-black.jpg');
    /* background-image: url('../assets/bg-2-carros.jpg'); */
    background-size: cover; 
    background-position: center; 
    height: 380px;
}

.DescDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* margin-right: 80px; */
    width: 550px;
    height: 100%;
    padding-right: 120px;
    /* background-color: rgba(71, 70, 70, 0.15);  */
    background: linear-gradient(to right, rgba(224, 224, 224, 0), rgba(255, 255, 255, 0.15)); /* Gradiente da esquerda para a direita */
    backdrop-filter: blur(6px);
    float: right;
}
.DescDiv button{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    width: 250px;
    color: white;
    border-radius: 4px;
    padding: 10px 0px;
    cursor: pointer;
}
.DescDiv span{
    font-size: 40px;
    margin-top: 60px;
}

.desc{
    width: 550px;
}
.desc p{
    text-align: right;
    line-height: 1.8;
}