header{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background: rgba(34, 33, 33, 0.4);
    /* z-index: 1000; */
    padding: 0px 24px;
}

.divIconMustang img{
    width: 50px;
}

ul{
    display: flex;
    gap: 60px;
}
li{
    list-style: none;
}